{% extends 'jinja/user.html' %}
  
{% block title %}
    Register
{% endblock title %}

{% block main %}

<style>
    body{
        background-image: url("{{url_for ('static',filename = 'image/bg.png') }}");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1300px 600px;
    }
</style>
    <!--NAVBAR DEFAULT-->
    <div class="topnav">
        <ul>
            <li><a href=""><i class="fa fa-home fa-1x" aria-hidden="true"></i>
            Home</a></li>
            <li><a href=""><i class="fa fa-phone fa-1x" aria-hidden="true"></i>
            Contact Us</a></li>
            <li><a href=""><i class="fa fa-user fa-1x"></i> About Us</a></li>
            <li></li>
            <li class="user"></li>
        </ul>
    </div>
    <!-- form page -->
    <div class="wrapper fadeInDown">
        <div id="formContent">


            <!-- Login Form -->
            <h3 style="font-size: xx-large; color:#ffc001; font-weight:70px;">   Register</h3>

            <form method="POST">
                <input type="text" id="firstname" class="fadeIn first" name="username" placeholder="username">
                <input type="text" id="secondname" class="fadeIn first" name="phone" placeholder="phone">
                <input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
                <input type="text" id="login" class="fadeIn second" name="drivers-licence" placeholder="drivers-licence">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="password" id="confrim" class="fadeIn fourth" name="confrim" placeholder="confrim password">
                <a href="/login"><button type="submit" class="submit-btn">Submit</button></a>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="/login">Already a member?</a>
            </div>

        </div>
    </div>




    
{% endblock main %}